* {
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html, body {
    font-family: $main_font;
    margin-top: 25px;
}

.imagen_hero{
    background: $imagen_fondo;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    height: $alto*50;
}

.parrafo_hero{
    width: 50%;
}

.imagen_hero_contacto{
    background: $imagen_fondo_contacto;
    background-position: center;
    background-attachment: local;
    background-size: cover;
    height: $alto*50;
}

.texto_hero{    
    height: $alto*50;
}
// //
// .logotipo{
//     max-width: 5%;
// }
// //

.destacado{
    background-color:$verdeclaro;
}

.destacado_oscuro{
    background-color:$verde;
}

.destacado_amarillo{
    background-color: $amarillo;
    font-size: small;
}

.tarjeta{
    width: $rem*18;
}
.navbar_estilo{
    border-bottom: 1px solid $verde;
    background-color: $blanco;
}

.footer_estilo{
    border-top: 1px solid $blanco;
    background-color: $verde;
}

a {
    color:$blanco;
}

@for $x from 1 to 7 {
    h#{$x} {
        @if $x == 1 {
            color:$verde;
            font-weight:bolder;
            padding-top: $rem;
            padding-bottom: $rem;
        } @else {color:$verde;
            padding-top: $rem;
            padding-bottom: $rem;
        }
    }     
}

.textoblanco{
    color:$blanco;
}


.collapse a:hover{
    color:$verde !important;
}

.collapse-social-icons a:hover {
    color:$verde !important;
}

@media screen and (max-width: 990px){
    .imagen_hero{
        background: $imagen_fondo_small;
        background-position: center;
        background-attachment: local;
        background-size: cover;
        height: $alto*50;
    }
    
    }

@media screen and (max-width: 720px){
    html, body {
        margin-top: 30px;
    }
    
    .imagen_hero{
        background: none;
        height: $alto*52;
                
    }
    .imagen_hero_contacto{
        background: none;
        margin-top: 80px;
        
    }
    
    .parrafo_hero{
        width: 100%;
    }
}

@media screen and (max-width: 576px){
    html, body {
        margin-top: 30px;
    }
    
    .imagen_hero{
        background: none;
        height: $alto*52;
    }
    
    .imagen_hero_contacto{
        background: none;
        margin-top: 80px;
        
    }
    
    .parrafo_hero{
        width: 100%;
    }
}