
/*Colors*/
$negro: #000000;
$blanco: #FFFFFF;
$verde:#03A64A;
$verdeclaro:#A5E5BF;

/*Fonts*/
$main-font: 'IBM Plex Sans', sans-serif;

/*Imagen fondo index*/
$imagen_fondo: url(../imgs/n_index01_lg.png);
$imagen_fondo_small: url(../imgs/n_index01_sm.png);

/*Imagen fondo contacto*/
$imagen_fondo_contacto: url(../imgs/fitness_elements.png);

$alto: 10px;
$rem: 1rem;